 .u-section-1 {
  min-height: 1214px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 0 auto;
  padding: 16px 77px 17px 76px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 0 auto;
  padding: 16px 77px 17px 76px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 0 auto;
  padding: 16px 77px 17px 76px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 0 auto;
  padding: 16px 77px 17px 76px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 0 auto;
  padding: 16px 77px 17px 76px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 231px;
  width: 1140px;
  margin: 40px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px 30px 0;
}

.u-section-1 .u-line-1 {
  width: 699px;
  transform-origin: left center 0px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: -2px 52px 0 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 221px;
  min-height: 45px;
  margin: 26px auto 0 322px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 9px 19px 10px 17px;
}

.u-section-1 .u-group-2 {
  width: 76px;
  background-image: none;
  min-height: 45px;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 256px;
  min-height: 45px;
  margin: -45px auto 0 30px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 9px 19px 10px 17px;
}

.u-section-1 .u-group-3 {
  width: 80px;
  background-image: none;
  min-height: 45px;
  margin: -44px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 6px 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-group-elements-3 {
  width: 189px;
  min-height: 45px;
  margin: -47px 369px 0 auto;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 9px 19px 10px 17px;
}

.u-section-1 .u-group-4 {
  width: 80px;
  background-image: none;
  min-height: 45px;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 7px 0 6px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 303px;
  min-height: 45px;
  margin: -44px 30px 0 auto;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 9px 19px 10px 17px;
}

.u-section-1 .u-group-5 {
  width: 80px;
  background-image: none;
  min-height: 45px;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 7px 0 5px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 28px 0 0;
  padding: 9px 500px 10px 499px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
}

.u-section-1 .u-icon-1 {
  font-size: 1.25em;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  margin: -4px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.625em;
}

.u-section-1 .u-group-6 {
  background-image: none;
  min-height: 158px;
  width: 1140px;
  margin: 43px auto 60px;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-line-2 {
  width: 699px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 0 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(5, 20%);
  }

  .u-section-1 .u-btn-1 {
    padding-right: 68px;
    padding-left: 68px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 68px;
    padding-right: 68px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 68px;
    padding-right: 68px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 68px;
    padding-right: 68px;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 68px;
    padding-right: 68px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    min-height: 292px;
    margin-top: 54px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 12px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 2px;
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-2 {
    height: auto;
    margin-left: 58px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -45px;
  }

  .u-section-1 .u-group-elements-3 {
    height: auto;
    margin-top: -45px;
    margin-right: 125px;
  }

  .u-section-1 .u-group-elements-4 {
    height: auto;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-10 {
    padding-right: 400px;
    padding-left: 399px;
  }

  .u-section-1 .u-btn-11 {
    margin: -293px calc(((100% - 940px) / 2) + 17px) 0 auto;
    padding: 2px 3px;
  }

  .u-section-1 .u-icon-1 {
    width: 20px;
    height: 27px;
  }

  .u-section-1 .u-group-6 {
    min-height: 213px;
    width: 940px;
    margin-top: 372px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-line-2 {
    width: 214px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-height: 60px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 37px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 37px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 37px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 37px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 37px;
    padding-left: 35px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 293px;
    margin-top: 35px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -17px;
    margin-left: 17px;
  }

  .u-section-1 .u-line-1 {
    width: 671px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 7px;
    margin-left: 17px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 299px;
    margin-top: 22px;
    margin-right: 36px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 57px;
    padding-left: 56px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 303px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 42px;
    padding-left: 41px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 302px;
    margin-top: 18px;
    margin-right: 36px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 80px;
    margin-left: auto;
    padding-right: 75px;
    padding-left: 74px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: -40px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-10 {
    padding-right: 290px;
    padding-bottom: 9px;
    padding-left: 289px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -298px;
    margin-right: calc(((100% - 720px) / 2) + 14px);
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-group-6 {
    width: 720px;
    margin-top: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 61px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 31px;
    padding-left: 31px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 404px;
    margin-top: 50px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 7px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-line-1 {
    width: 474px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 11px;
    margin-left: 19px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 303px;
    min-height: 46px;
    margin-top: 86px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 1px;
    padding-right: 59px;
    padding-left: 59px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 46px;
    margin-top: -108px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 1px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -46px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-group-elements-3 {
    width: 303px;
    min-height: 46px;
    margin-top: 80px;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 46px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 23px;
    padding-right: 200px;
    padding-left: 199px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -412px;
    margin-right: calc(((100% - 540px) / 2) + 10px);
    padding-top: 1px;
  }

  .u-section-1 .u-group-6 {
    min-height: 404px;
    width: 540px;
    margin-top: 479px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    min-height: 52px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 414px;
    margin-top: 51px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -27px;
    margin-left: 27px;
  }

  .u-section-1 .u-line-1 {
    width: 253px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 7px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 298px;
    min-height: 45px;
    margin-top: 79px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 0;
    padding-right: 57px;
    padding-left: 56px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 18px;
    margin-left: 11px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: -107px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 302px;
    min-height: 45px;
    margin-top: 78px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 45px;
    margin-top: 16px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 27px;
    padding-right: 100px;
    padding-left: 99px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -398px;
    margin-right: calc(((100% - 340px) / 2) + 18px);
    padding: 0;
  }

  .u-section-1 .u-group-6 {
    min-height: 305px;
    width: 340px;
    margin-top: 457px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-1 .u-line-2 {
    width: 236px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 20px;
  }
}